<!-- Template for Categories: -->

{% extends "auctions/layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h3 class="page-title">{{ title }}</h3>

{% for listing in group %}
<div class="each-listing">
    <p><a href="{% url 'listing' listing.pk %}">{{ listing.title }}</a></p>
    <img src="{{ listing.image }}" alt="Image">
    <ul>
        <li>Description: {{ listing.description }}</li>
        <li>Seller: {{listing.seller}}</li>
        <li>Starting bid: {{ listing.starting_bid }}$</li>
    </ul>
</div>
{% endfor %}

{% endblock %}
