{% extends "auctions/layout.html" %}

{% block body %}

    <h2 class="page-title">Active Listings</h2>
    <hr>

    <div class="index-page-container">
        {% for listing in listings %}
        <div class="each-listing">
            <p><a href="{% url 'listing' listing.pk %}">{{ listing.title }}</a></p>
            <img src="{{ listing.image }}" alt="Image">
            <ul>
                <li>Description: {{ listing.description }}</li>
                <li>Seller: {{listing.seller}}</li>
                <li>Starting bid: {{ listing.starting_bid }}$</li>
            </ul>
        </div>
        {% endfor %}
    </div>

{% endblock %}
