<!-- Template for each Individual listing: -->

{% extends "auctions/layout.html" %}

{% block title %}{{ listing.title }}{% endblock %}

{% block body %}
    <!-- Title and description -->
    <div>
        <h3>{{ listing.title }}</h3>
        {{ listing.description }}
    </div>
    <!-- Image -->
    <div>
        <img style="width: 200px; height: 200px;" src="{{ listing.image }}" alt="Image">
    </div>

    <!-- Listing Details -->
    <div>Seller: {{ listing.seller }}</div>
    <div>Category: {{ listing.category }}</div>
    <div>Starting Bid: {{ listing.starting_bid }}</div>
    <hr>

    <!-- Biidding details -->
    {% if user != None %}

        <!-- Renders informaton based on current user's
            relationship with the Listing's bid data -->
        {% if bid.is_open is True %}

            <div>Latest bid: {{ bid.offer }}</div>
            <div>{{ bid.offer_count }} bid(s) so far.</div>

            {% if user == bid.bidder %}

                <div>Your bid is the current bid.</div>

            {% endif %}

        {% elif bid.is_open is False %}

            <div>This auction is closed.</div>

            <!-- Winning bid -->
            {% if user == bid.bidder %}
                <div>You have won this auction.
                    Your winning bid: {{ bid.offer }}</div>
            {% else %}
                <div>Winning bid: {{ bid.offer }}</div>
            {% endif %}
            <!--  -->

        {% else %}

            <div>There are no bids yet.</div>

        {% endif %}

    <hr>
    {% endif %}

    <!-- Watchlist -->
    <!-- This form is rendered only when the current user is not the owner -->
    {% if user != None %}
        {% if listing.seller != user %}
            <div>
                <form action="{% url 'watchlist' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" id="item_id" value="{{ listing.id }}">

                    <!-- Checks presence of listing in current user's watchlist -->
                    {% if listing not in watchlist %}
                        <input style="color: blue;" type="submit" value="Add to watchlist">
                        <input type="hidden" name="state" id="state" value="Add">
                    {% else %}
                        <input style="color: red;" type="submit" value="Remove from watchlist">
                        <input type="hidden" name="state" id="state" value="Remove">
                    {% endif %}
                </form>
            </div>

            <!-- Bidding -->
            <hr>
            {% if bid.is_open is not False %}
                <div>
                    {{ message }}
                    <form action="{% url 'bid' %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input name="listing" type="hidden" value="{{ listing.id }}">
                        <input name="new_bid" type="submit" value="Make a bid">
                    </form>
                </div>
            {% endif %}

        <!-- Closing/Opening auction -->
        <!-- This block renders if the user is the listing's owner -->
        {% else %}
            {% if bid %}
                <div>
                    <form action="{% url 'status' %}" method="post">
                        {% csrf_token %}
                        <input name="listing" type="hidden" value="{{ listing.id }}">
                        {% if bid.is_open is True %}
                            <input name="status" type="submit" value="Close Auction">
                        {% else %}
                            <input name="status" type="submit" value="Open Auction">
                        {% endif %}
                    </form>
                </div>
            <hr>
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}
