<!-- Template for each Individual listing: -->

{% extends "auctions/layout.html" %}

{% block title %}Listing: {{ listing.title }}{% endblock %}

{% block body %}

<div class="container">

    <div class="main">
        <!-- LISTING INFO -->
        <div class="listing-image">
            <img src="{{ listing.image }}" alt="item image">
        </div>
        <div class="listing-info">
            <h1>{{ listing.title}}</h1>
            <p>{{ listing.description }}</p>
            <p>Seller: {{ listing.seller }}</p>
            <p>Starting Bid: {{ listing.starting_bid }}</p>
            <p>Category: <a href="{% url 'a_category' listing.category %}">{{ listing.category }}</a></p>
            <p>Date created: {{ listing.date_created }}</p>
        </div>
        <!-- -------------------------------------------------- -->
        <!-- BID INFO -->
        {% if user != None %}
            <div class="bid-info">
                {% if bid.is_open is True %}
                    <div class="bid-open-status">
                        <p>Latest Bid: {{ bid.offer }}</p>
                        <p>{{ bid.offer_count}} bid(s) so far. </p>
                    </div>
                    <div class="bid-open-bidder">
                        {% if user == bid.bidder %}
                            <p>Your bid is the current bid.</p>
                        {% elif user != bid.bidder and user != bid.seller %}
                            <p>Your bid is NOT the current bid.</p>
                        {% endif %}
                    </div>
                {% elif bid.is_open is False %}
                    <div class="bid-closed-status">
                        <p>This auction is closed.</p>
                    </div>
                    <div class="bid-closed-winner">
                        {% if user == bid.bidder %}
                            <p>You have won this auction.</p>
                        {% endif %}
                            <p>Winning bid: {{ bid.offer }}</p>
                    </div>
                {% else %}
                    <p>There are no bids yet.</p>
                {% endif %}
            </div>
        {% endif %}
        <!-- -------------------------------------------------- -->
        <!-- WATCHLIST FORM -->
        {% if user != None and user != listing.seller %}
            <div class="watchlist-form">
                <form action="{% url 'watchlist' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" id="item_id" value="{{ listing.id }}">
                    <!-- Checks presence of listing in current user's watchlist -->
                    {% if listing not in watchlist %}
                        <input style="color: blue;" type="submit" value="Add to watchlist">
                        <input type="hidden" name="state" id="state" value="Add">
                    {% else %}
                        <input style="color: red;" type="submit" value="Remove from watchlist">
                        <input type="hidden" name="state" id="state" value="Remove">
                    {% endif %}
                </form>
            </div>
        {% endif %}
        <!-- -------------------------------------------------- -->
        <!-- BIDDING FORM -->
        {% if user != None and user != listing.seller %}
            {% if bid.is_open is not False %}
                <div class="bidding-form">
                    <form action="{% url 'bid' %}" method="post" id="bidding">
                        {% csrf_token %}
                        {{ form }}
                        <input name="listing" type="hidden" value="{{ listing.id }}">
                        <button type="submit" form="bidding">Submit Bid</button>
                    </form>
                </div>
            {% endif %}
        {% endif %}
        <!-- -------------------------------------------------- -->
        <!-- CLOSING BID FORM -->
        {% if user != None and user == listing.seller %}
            {% if bid %}
                <div class="bidding-status-form">
                    <form action="{% url 'status' %}" method="post">
                        {% csrf_token %}
                        <input name="listing" type="hidden" value="{{ listing.id }}">
                        {% if bid.is_open is True %}
                            <input name="status" type="submit" value="Close Auction">
                        {% else %}
                            <input name="status" type="submit" value="Open Auction">
                        {% endif %}
                    </form>
                </div>
            {% endif %}
        {% endif %}
        <!-- -------------------------------------------------- -->
        <!-- COMMENT FORM -->
        {% if user != None %}
            <div class="comment-form">
                <!-- Creating a comment -->
                <form action="{% url 'comments' %}" method="post" id="comment">
                    {% csrf_token %}
                    {{ comment }}
                    <input name="listing" type="hidden" value="{{ listing.id }}">
                    <button type="submit" form="comment">Publish</button>
                </form>
            </div>
        {% endif %}
        <!-- -------------------------------------------------- -->
        <!-- COMMENTS -->
        <div class="comments">
            <h1>Comments</h1>
            {% for comment in comments %}
                <p>Date published: {{ comment.date_published }}</p>
                <p>{{comment.author}}: {{ comment.content }}</p>
                {% if comment.author == user %}
                    <form action="{% url 'listing' item_id=listing.id %}" method="post">
                        {% csrf_token %}
                        <input name="comment-pk" type="hidden" value="{{ comment.pk }}">
                        <input name="delete-comment" type="submit" value="Delete">
                    </form>
                {% endif %}
                <hr>
            {% endfor %}
        </div>
        <!-- -------------------------------------------------- -->
    </div>

    <div class="sidebar">
        <h3>All listings</h3>
        {% for listing in all_listings %}
            <div class="sidebar-content">
                <p><a href="{% url 'listing' item_id=listing.pk %}">{{ listing.title }}</a></p>
                <img src="{{ listing.image }}" alt="item image">
                <p>Starting bid: {{ listing.starting_bid }}</p>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
