<!-- Template for watchlisted items -->

{% extends "auctions/layout.html" %}

{% block title %}Watchlist{% endblock %}

{% block body %}

<!-- Empty watchlist message -->
<h6>{{ message }}</h6>

<ul>
    {% for listing in watchlist %}
    <div class="each-listing">
        <p><a href="{% url 'listing' listing.pk %}">{{ listing.title }}</a></p>
        <img src="{{ listing.image }}" alt="Image">
        <ul>
            <li>Description: {{ listing.description }}</li>
            <li>Listed by: {{listing.seller}}</li>
            <li>Starting bid: ${{ listing.starting_bid }}</li>
        </ul>
    </div>
    {% endfor %}
</ul>

{% endblock %}
